/* *{
    margin: 0;
    color: wheat;
}
.mainbox{
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid black;
}
.box1{
    height: 70px;
    width: 70px;
    background-color: blue;
}
.box2{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: red;
}
.box3{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
}
.box4{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: yellow;
}
.box5{
    height: 70px;
    width: 70px;
    position:absolute;
    margin: auto;
    inset:0;
    background-color: purple;
}
.box6{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: orange;
}
.box7{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: pink;
}
.box8{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: brown;
}
.box9{
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:chocolate ;
} */

/* .maindiv{
    position: absolute;
}
.box-1{
    height: 100px;
    width:400px;
    background-color: blue;
    position: absolute;
    z-index: 4;
}
.box-2{
    height: 200px;
    width:300px;
    background-color: brown;
    position: absolute;
    z-index: 3;
}
.box-3{
    height: 300px;
    width:200px;
    background-color: chocolate;
    position: absolute;
    z-index: 2;
}
.box-4{
    height: 400px;
    width:100px;
    background-color: blueviolet;
    position: absolute;
} */

/* .main-div{
    height: 100%;
    width: 100%;
}
.main-div img:nth-child(1){
    height: 250px;
    width: 462px;
    float: right;
}
.main-div p{

    columns: 3;
    column-gap: 20px;
    text-align: justify;
} */