*{
    margin:0px;
    padding: 0px;
}

/* main{
    display:flex;

} */

.box1{
     height: 50px;
     width: 50px;
     margin: 20px;
     background-color: rosybrown;
     border: 1px solid black;
     box-shadow: 2px 2px 2px gray;
}

.box2{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: aquamarine;
    border: 1px solid black;
    box-shadow:  2px 2px 2px gray inset;
}

.box3{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: rgb(234, 14, 14);
    border: 1px solid black;
    box-shadow: -2px 2px 2px gray;
}

.box4{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: rosybrown;
    border: 1px solid black;
    box-shadow: 2px -2px 2px gray;
}

.box5{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: rosybrown;
    box-shadow: -2px -2px 5px green, 2px -2px 5px gray,-2px 2px 5px red;
}

.box6{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: rgb(221, 195, 195);
    box-shadow:inset -2px -2px 5px green,2px 2px 5px red ;
}

.box7{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: aquamarine;
    box-shadow: ;
}