/* @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap'); */

/* body{
    visibility: visible;
} */


/* .font-family {		
    font-family: 'Protest Revolution', sans-serif;
    font-size: 3em;
    font-style: italic;
    font-variant: normal;
    font-weight:bold;
    line-height:70px;
} */

/* .font-2 {
    font-family: 'Protest Revolution', sans-serif;
    font-family: monospace;
    font-size: 50px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
} */



/* .text p{ */
    /* color:green;
    text-align:justify;
    text-transform:uppercase;
    text-indent: 100px;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-shadow: 5px 3px 2px rgb(1, 58, 1); */
    /* text-decoration:dotted overline black;
    direction: rtl;
    unicode-bidi: bidi-override; */
/* } */

/* a{
    text-decoration: none;
    color: #000;
} */

/* .vertical-align{
    margin: 0px;
    font-size: 30px;

} */

/* img{
    vertical-align:super;
} */

/* .whitespace{
    white-space:pre;
    visibility: hidden;
} */

/* .visibility{
    visibility: visibssle;
} */