.pagination{
    width:500px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    height: 50px;
    width:50px;
    border-radius: 100%;
    background-color: cornflowerblue;
    font-weight: bold;
    color: bisque;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
}
span:nth-child(1):hover {
    transform: rotateY(180deg);
    transition:0.5s;
    color: cornflowerblue;
}
span:nth-child(7):hover {
    transform: translateX(8px);
    transition:0.5s;
}
span:nth-child(2):hover,:nth-child(3):hover,:nth-child(4):hover,:nth-child(5):hover,:nth-child(6):hover{
    transform: translateY(-5px);
    transition:0.5s;
}
.pagination span:focus {
    background-color: brown;
}